.container {
  padding-top: 10px;
}

.videoIcon {
  width: 36px;
  margin-right: 5px;
}

.rowWrap {
  display: flex;
}

.resourceInfo {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
