.dashboard-layout {
  display: flex;
}


/* Define the styles for the sidebar */
.sidebar {
  width: 258px;
  /* Width set to 258px */
  height: 1354px;
  /* Height set to 1354px */
  gap: 10px;
  /* Gap set to 10px */
  background-color: rgba(17, 13, 89, 1);
  /* Background color for the sidebar */
  padding: 20px;
  /* Padding inside the sidebar */
  /* You can add more styles as needed */
}

.dashboard-logo {
  background-color: rgba(17, 13, 89, 1);
  color: #fff;
  padding: 0px;
}

.dashboard-logo img {
  background-color: rgba(17, 13, 89, 1);
  color: #fff;
}

.sidebar-menu {
  margin-top: 20px;
  width: Fixed (226px);
  height: Hug(405px);
}

.sidebar-menu img {
  width: (226px);
  height: (45px);
  border-radius: 8px;
  padding: 10px 6px 10px 10px;


}

.sidebar-menu div:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(17, 13, 89, 1);
  border-radius: 8px;
  gap: 5px;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  text-decoration: none;
}

.sidebar-item a:hover {
  color: rgba(17, 13, 89, 1);


}

.main {
  background-color: #F1F2F4;
  width: 100%;
}

.top-bar {
  height: 64px;
  left: 258px;
  background-color: #F1F2F4;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 456px;
  height: 41px;
  margin-top: 12px;
  margin-left: 20px;
  padding: 10px 12px 10px 12px;
  border-radius: 8px;
  gap: 10px;
  border: none;
  z-index: -1;
}

.search:focus {
  border-color: orangered !important;
}


.user {
  display: flex;
  /* Use flexbox to align items horizontally */
  align-items: center;
  margin-right: 40px;

}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
}

.user p {
  margin-left: 20px;
}

.user .down-arrow {
  font-size: small;
  margin-left: 5px;
  margin-top: 4px;
  color: gray;
}

.user .dropdown-menu {
  display: flex;
  top: 100%;
  margin-left: -20px;
  padding: 8px;
  z-index: 1;
  border: 0.5px solid rgba(241, 133, 36, 1);
  border-radius: 5px;
}

.create-course-wrapper {
  width: (1182px);
  height: (83px);
  top: 64px;
  left: 258px;
  padding: 16px 24px 16px 24px;
  margin-top: 14px;
}

.create-course {
  display: flex;
  justify-content: space-between;
  width: Fill (1, 134px);
  height: Hug (51px);
  gap: 12px;
}

.create-course h2 {
  width: 850px;
  height: 31px;
  font-family: 'Manrope', sans-serif;
}

.create-course .create-course-btn {
  width: Hug (194px);
  height: Hug (51px);
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  margin-right: 20px;
  background-color: rgba(241, 133, 36, 1);
  color: white;
  border: none;
}

.sidebar-toggle-button {
  color: gray;
}



@media (max-width: 375px) {

  /* Hide the sidebar by default on screens with a max-width of 768px */
  .sidebar {
    display: none;
  }

  .top-bar {
    display: none;
  }

  .top-bar-phone-content {
    display: flex;
  }

  .top-bar-phone-content p {
    margin-left: 24px;
    margin-top: 77px;

  }

  .top-bar-phone-content .logo-mobile {
    margin-left: 52px;
    margin-top: 74px;

  }

  .main {
    width: 100%;
  }

  /* Show the sidebar when it's open */
  .sidebar.open {
    display: block;
    width: 258px;
    /* Add other styles as needed */
  }

  .create-course {
    justify-content: space-around;
  }

  .create-course h2 {
    width: fit-content;
  }

  .create-course .create-course-btn {
    width: fit-content;
    height: (32px);
    margin-left: 40px;
    margin-right: -20px;
  }

}

/* Media query to hide .new-content-small on screens wider than 375px */
@media (min-width: 376px) {
  .top-bar-phone-content {
    display: none;
    /* Hide content on screens wider than 375px */
  }
}