.container {
  width: (936px);
  height: (1, 135px);
  top: 341px;
  left: 378px;
  padding: 30px 32px 30px 32px;
  border-radius: 10px;
  gap: 60px;
  display: block;
}

.faqContainer {
  width: 872px;
  height: (75px);
  gap: 8px;
  display: grid;
  margin-top: 20px;
}

.inputContainer {
  display: grid;
}

.faqText {
  width: 872px;
  height: 42px;
  border: 1px solid #f1f2f4;
  padding: 12px 10px 10px 12px;
  border-radius: 8px;
}

.faqQuestion {
  height: (49px);
  padding: 14px 16px 14px 16px;
  border-radius: 8px;
  border: 1px solid #f1f2f4;
  background-color: #f8f9fd;
  margin-top: 10px;
}

.faqAnswer {
  margin-top: 5px;
  height: 160px;
  border: 1px solid #f1f2f4;
  background-color: #f8f9fd;
  border-radius: 8px;
  border: 1px solid #f1f2f4;
  text-align: center;
}
