.courseList {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.singleCard {
  border-radius: 8px;
  cursor: pointer;
}

.singleCourse {
  height: 300px;
  text-decoration: none;
  color: #1f1f1f;
  background: #fff;
}

.cardContent {
  padding: 15px;
  font-size: 1em;
}

.personal,
.finance,
.professional,
.event {
  padding: 5px 10px;
  border-radius: 4px;
  width: fit-content;
}

.personal {
  background-color: #cfe8ff;
  color: #3f9cf2;
}

.finance {
  background-color: #ffecdc;
  color: #f18524;
}

.professional {
  background-color: #d8d9f5;
  color: #44408a;
}

.event {
  background-color: #f4eeee;
  color: #ffb7b7;
}

@media screen and (max-width: 1300px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .cardsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .cardContent .heading {
    font-size: 1.1em;
  }
}
