.filters {
    width: Hug (418px);
    height: Hug (37px);
    top: 147px;
    left: 282px;
    margin-left: 20px;
}

.filters button {
    border: none;
    padding: 8px 14px 8px 14px;

}

.filters button:hover {
    background-color: rgba(218, 217, 245, 1);
    border-radius: 8px;
}