.filters {
  margin: 0 30px;
}

.defaultStyle {
 font-size: 18px;
}

.active,
.filters button:hover {
  color: #4440ba;
  background-color: #d8d9f5;
  border-radius: 4px;
  font-size: 18px;
}

.filters button {
  border: none;
  padding: 8px 14px;
  margin-right: 5px;
  cursor: pointer;
}

@media (max-width: 475px) {
  .filters button {
    padding: 6px;
    margin-right: 2px;
    font-size: 0.75em;
  }
}
