.password-layout {
  padding: 40px 40px 0 40px;
}

.top {
  display: flex;
  justify-content: left;
}

.top img {
  height: 30px;
  width: 176px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container form h2 {
 font-weight: 700;
 font-size: 22px;
 line-height: 28px;
}

.restore-pswrd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restore-pswrd img {
  width: 496px;
}

.restore-form {
  height: 300px;
}

.restore-form form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 769px){
  .container {
    flex-wrap: wrap-reverse;
  }
  .restore-pswrd img {
    width: 239px;
  }
}

@media screen and (max-width: 376px){
  .restore-pswrd img {
    width: 137px;
  }
}