.password-layout {
  padding: 40px 40px 0 40px;
}

.password-top {
  display: flex;
  justify-content: left;
}

.password-top img {
  height: 30px;
  width: 176px;
}

.password-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.password-container form h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.password-restore-pswrd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-restore-pswrd img {
  width: 496px;
}

.password-restore-form {
  height: 300px;
}

.password-restore-form form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.password-invalid-btn {
  height: 45px;
  border: none;
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  color: #f1f2f4;
  font-weight: 600;
  background-color: #c9cacb;
}

.password-valid-btn {
  height: 45px;
  border: none;
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  background-color: #f18524;
  color: #f1f2f4;
  font-weight: 600;
}

@media screen and (max-width: 769px) {
  .password-container {
    flex-wrap: wrap-reverse;
  }

  .password-restore-pswrd img {
    width: 239px;
  }
}

@media screen and (max-width: 376px) {
  .password-restore-pswrd img {
    width: 137px;
  }
}
