.login-form form h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 45.6px;
  background-color: white;
}

.login-page-layout {
  padding: 40px 0px 0 0px;
}

.login-top {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

.login-top img {
  height: 30px;
  width: 176px;
}

.login-form-img {
  margin-top: 50px;
}

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-form {
  height: 472px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-right img {
  height: 625px;
  width: 735px;
}

.login-row-wrap-remember-me {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
}

.login-row-wrap .login-input-group {
  width: 125px;
}

.login-form .login-button {
  margin-bottom: 50px;
  width: 278px;
  padding: 10px;
  border: 5px;
  padding: 10px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
}

.login-form .login-button:hover {
  color: white;
  background-color: #f18524;
}

.login-redirect {
  margin-bottom: 150px;
}

.login-signup-link {
  text-decoration: none;
  color: blue;
  margin-left: 5px;
}

.login-remember-checkbox {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.login-remember-me label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .login-form-img {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .login-right img {
    height: 310px;
    width: 347px;
  }
}

@media screen and (max-width: 376px) {
  .login-right img {
    width: 205p;
  }
}
