.container {
  width: (936px);
  height: (1, 135px);
  top: 341px;
  left: 378px;
  padding: 30px 32px 30px 32px;
  border-radius: 10px;
  gap: 60px;
  display: block;
}

.titleContainer {
  width: 872px;
  height: (75px);
  gap: 8px;
  display: grid;
  margin-bottom: 16px;
}

.titleInput {
  height: (49px);
  padding: 14px 16px 14px 16px;
  border-radius: 8px;
  border: 1px solid #f1f2f4;
  background-color: #f8f9fd;
}

.titleInput:focus {
  border: 1px solid #f18630;
}

.descriptionContainer {
  margin-top: 20px;
  width: 872px;
  display: grid;
  height: 124px;
}

.descriptionInput {
  height: (98px);
  padding: 14px 8px 8px 16px;
  border-radius: 8px;
  border: 1px solid #f1f2f4;
  background-color: #f8f9fd;
  margin-top: -45px;
  text-align: center;
}

.resourcesContainer {
  margin-top: 20px;
  width: 872px;
  display: grid;
}

.resourcesInput {
  height: (45px);
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px solid #f18630;
  margin-top: 10px;
}

.resourcesInput::placeholder {
  color: #f18630;
}

label {
  margin: 0;
}
