.button {
  display: flex;
  width: 100%;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #f18524;
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.28px;
  border: none;
}

.button:disabled {
  background: #e3e4e8;
  color: #f1f2f4;
}

.button:hover {
  cursor: pointer;
}

.spinner {
  margin-right: 20px;
}
