.dashboard-layout {
  display: flex;
  height: 100vh;
}
}

.sticky {
  position: sticky;
  top: 20px;
}

.sidebar {
  width: 258px;
  gap: 10px;
  background-color: rgba(17, 13, 89, 1);
  padding: 20px;
}

.dashboard-logo {
  background-color: rgba(17, 13, 89, 1);
  color: #fff;
  padding: 0px;
}

.dashboard-logo img {
  background-color: rgba(17, 13, 89, 1);
  color: #fff;
}

.sidebar-menu {
  margin-top: 20px;
  width: Fixed (226px);
  height: Hug(405px);
}

.sidebar-menu img {
  width: (226px);
  height: (45px);
  border-radius: 8px;
  padding: 10px 6px 10px 10px;
}

.sidebar-menu div:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(17, 13, 89, 1);
  border-radius: 8px;
  gap: 5px;
}

.sidebar-item div {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  text-decoration: none;
}

.sidebar-item a:hover {
  color: rgba(17, 13, 89, 1);
}

.main {
  background-color: #f1f2f4;
  width: 100%;
}

.top-bar {
  height: 64px;
  left: 258px;
  background-color: #f1f2f4;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 456px;
  height: 41px;
  margin-top: 12px;
  margin-left: 20px;
  padding: 10px 12px 10px 12px;
  border-radius: 8px;
  gap: 10px;
  border: none;
  z-index: -1;
}

.search:focus {
  border-color: orangered !important;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 40px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
}

.user p {
  margin-left: 20px;
}

.user .down-arrow {
  font-size: small;
  margin-left: 5px;
  margin-top: 4px;
  color: gray;
}

.user {
  display: grid;
  padding: 8px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu.active button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #1f1f1f;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown-menu.active button:hover {
  background: #1f1f1f;
  color: #fff;
}

.create-course-wrapper {
  width: (1182px);
  height: (83px);
  top: 64px;
  left: 258px;
  padding: 16px 24px 16px 24px;
  margin-top: 14px;
}

.create-course {
  display: flex;
  justify-content: space-between;
  width: Fill (1, 134px);
  height: Hug (51px);
  gap: 12px;
}

.create-course h2 {
  width: 850px;
  height: 31px;
  font-family: 'Manrope', sans-serif;
}

.create-course .create-course-btn {
  width: Hug (194px);
  height: Hug (51px);
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  margin-right: 20px;
  background-color: rgba(241, 133, 36, 1);
  color: white;
  border: none;
}

.sidebar-toggle-button {
  color: gray;
}

@media (max-width: 769px) {
  .sidebar {
    display: none;
  }

  .top-bar form {
    display: none;
  }

  .user {
    margin-left: auto;
    margin-top: 30px;
  }

  .top-bar-phone-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 60px;
    margin-left: 32px;
    align-items: center;
  }

  .create-course {
    justify-content: space-between;
  }

  .create-course h2 {
    width: fit-content;
  }

  .create-course .create-course-btn {
    width: 219px;
    height: 46px;
  }
}

@media (min-width: 770px) {
  .top-bar-phone-content {
    display: none;
  }
}

@media (max-width: 485px) {
  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
  }

  .sidebar.open {
    display: block;
    width: 258px;
  }

  .create-course {
    justify-content: space-around;
  }

  .create-course h2 {
    width: fit-content;
  }

  .create-course .create-course-btn {
    width: fit-content;
    height: (32px);
    margin-left: 40px;
    margin-right: -20px;
  }
}
