@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

h2,
span,
p {
  font-family: 'Poppins', sans-serif;
}

.gray {
  color: gray;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}

.text-input {
  width: 100%;
  border: 1px solid #8d9296;
  border-radius: 8px;
  padding: 14px 16px 14px 16px;
  background-color: #eeeff3;
  height: 40px;
  margin-top: 10px;
}

.input-group label {
  color: #55555f;
}

.input-group input::placeholder {
  color: #8d9296;
}

.signup-form form .btn,
.container form .btn {
  height: 45px;
  border: none;
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  background-color: #c9cacb;
  color: #f1f2f4;
  font-weight: 600;
}

.signup-form form .btn:active,
.container form .btn:active {
  background-color: #f18524;
}
