.addCourse {
  padding: 25px 120px;
}

.buttonsDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  padding: 25px 40px;
  border-radius: 0 0 10px 10px;
}

.buttonsDiv button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 10px;
  background: #f18524;
  text-align: center;
  border-radius: 4px;
  min-width: 140px;
  flex: 0;
}

.buttonsDiv button img {
  filter: invert(1);
  margin: 0 5px;
}

.buttonsDiv button:hover {
  border: 1px solid #f18524;
  color: #f18524;
  background: #fff;
}

.buttonsDiv button:hover img {
  filter: none;
}

@media screen and (max-width: 900px) {
  .addCourse {
    padding: 25px 80px;
  }
}

@media screen and (max-width: 700px) {
  .addCourse {
    padding: 25px 60px;
  }
}

@media screen and (max-width: 500px) {
  .addCourse {
    padding: 25px 30px;
  }
}

@media screen and (max-width: 400px) {
  .addCourse {
    padding: 15px 15px;
  }
}
