.dropArea {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dashed lightgray;
  border-radius: 1rem;
  object-fit: fill;
  height: 250px;
  width: 100%;
  color: gray;
}

.title {
  display: grid;
  place-items: center;
}

.title img {
  width: 30px;
}
