.dropArea {
  display: grid;
  text-align: center;
  align-items: center;
  border: 4px dashed lightgray;
  border-radius: 1rem;
  height: 250px;
  width: 100%;
  color: gray;
}

.attachedPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 242px;
  margin: auto auto;
}

.title {
  display: grid;
  place-items: center;
}

.title img {
  width: 30px;
}

.fileInput {
  margin: 0 auto;
}
